<div class="container">
  <mat-toolbar class="tool1" color="primary">
    <span
      ><a href="https://www.veenaworld.com/"
        ><img
          src="assets/images/logo.png"
          alt="logo"
          width="75"
          height="50" /></a
    ></span>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon class="menu" aria-hidden="false" aria-label="Example home icon"
        >menu</mat-icon
      >
    </button>

    &nbsp; &nbsp;
    <span><b>FAQs</b></span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <br />

  <mat-toolbar class="tool2">
    <span><b>FAQ</b></span>
    <mat-icon class="arrow1">chevron_right</mat-icon>
    <span><b>Faqs List</b></span>
    <!--
    <mat-icon class="arrow1">chevron_right</mat-icon>
    <span><b>Faqs</b></span>-->
  </mat-toolbar>
</div>

<br />

<div class="col md-8">
  <span class="form-group">
    <input
      type="text"
      class="form-control"
      id="search"
      [(ngModel)]="searchValue"
      placeholder="Search for Faq"
    />
  </span>
  <button class="btn" (click)="addFaqPopUp()">Add New FAQ</button>
</div>

<br />

<div *ngIf="faqs.length == 0; else elseBlock">
  <h3 style="margin-left: 500px"><i>****No FAQs Found****</i></h3>
</div>

<ng-template #elseBlock>
  <div class="data">
    <table class="table" width="100%">
      <col style="width: 25%" />
      <col style="width: 45%" />
      <col style="width: 15%" />
      <col style="width: 15%" />
      <thead>
        <tr>
          <th>FAQ</th>
          <th>Description</th>
          <th>Display on website</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let faq of faqs
              | searchFilter: searchValue
              | paginate: { itemsPerPage: 4, currentPage: p }
          "
        >
          <td>{{ faq.question }}</td>
          <td>
            <div [innerHTML]="faq.description | safeHtml"></div>
            <a href="{{ faq.link }}" target="_blank">{{ faq.link }}</a>
          </td>
          <td>
            <div *ngIf="faq.status == true; else deactivate">Displayed</div>
            <ng-template #deactivate> Not displayed </ng-template>
          </td>
          <td class="actions">
            <a class="action-btn1" (click)="onUpdate(faq)">
              <i class="material-icons">edit</i>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="action-btn2" (click)="deleteFaq(faq._id)">
              <i class="material-icons">delete</i>
            </a>
            &nbsp;&nbsp;
            <span *ngIf="faq.status == true; else activate">
              <button class="deactivate" (click)="onDeactivate(faq)">
                Deactivate
              </button>
            </span>
            <ng-template #activate>
              <button class="activate" (click)="onActivate(faq)">
                Activate
              </button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      class="paginator"
      [maxSize]="maxSize"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</ng-template>
