.example-spacer {
  flex: 1 1 auto;
}

div.container {
  margin: 5px 5px;
  margin-left: 10px;
  margin-right: 0px;
}

.mat-toolbar.tool1 {
  width: 1000px;
  margin-top: 10px;
  margin-left: -15px;
}

.mat-icon.menu {
  height: 30px !important;
  width: 40px !important;
  font-size: 40px !important;
}

.mat-toolbar.tool2 {
  height: 40px;
  /*width: 1320px;*/
  width: 96vw;
  margin-top: 0px;
  border-radius: 10px;
  border-color: black;
  border-style: double;
}

.mat-toolbar.mat-primary {
  background: white;
  color: black;
}

.mat-icon.mat-primary {
  background: white;
  color: black;
}

.example-icon {
  background: white;
  border-color: white;
}

.span.form-group {
  margin-left: 10px;
  margin-right: 700px;
}
.form-control {
  border-radius: 20px;
  border-width: 2.2px;
  border-color: black;
}

input[type="text"].form-control {
  margin-left: 25px;
  width: 45%;
  background-image: url("search.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

form.CatagoryInput {
  margin-left: 700px;
  margin-top: -45px;
}

.form-field {
  width: 40%;
}

.btn {
  width: 130px;
  margin-top: -20px;
  margin-left: 40px;
  background-color: #ffd800;
  border-color: black;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #212221;
  color: white;
}

button[disabled="disabled"],
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  color: white !important;
  background-color: #212221 !important;
}

.action-btn {
  color: #f4511e;
  cursor: pointer;
}

table {
  position: relative;
  z-index: 2;
  /*left: 2%;*/
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 3px 3px;
  overflow: hidden;
  text-align: center;
  table-layout: fixed;
}

th,
td {
  padding: 10px 15px;
  border: 0.5px solid;
  vertical-align: middle;
}

th {
  background: grey;
  color: black;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}

.data {
  /*position: absolute;*/
  right: 0;
  z-index: 1;
  opacity: 0.9;
}

.paginator /deep/ .ngx-pagination .current {
  background: #ffd800;
  color: black;
  border-radius: 5px;
}

.paginator /deep/ .ngx-pagination {
  text-align: center;
}

.paginator /deep/ .ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #d4d4d4;
  border-radius: 5px;
  padding-left: 9px;
  padding-right: 9px;
  text-decoration: none;
}

.paginator /deep/ .ngx-pagination a:focus,
.ngx-pagination button:focus {
  outline: none;
  background: #d4d4d4;
}
